.staff_status_list {
    overflow: auto;
}

.staff_status {
    height: 38px;
}

.staff_status_head {
    display: inline-block;
    width: 100px;
}

.staff_status_body {
    vertical-align: top;
    display: inline-block;
    margin-left: -4px;
    position: absolute;
    left: 100px;
}


.fst {
    vertical-align: top;
    height: 30px !important;
    font-size: 15px;
    color: grey;
    font-weight: bold;
    padding-top: 8px;
}

.time_block {
    width: 18px;
    margin-left: -4px;
    height: 18px;
    display: inline-block;
    border: 1px solid #eee;
    position: relative;
    bottom: 10px;

}
.just_pass_time_span {
    height: 38px;
    background-color: #D9534F;
    width: 1px;
    overflow: visible;
    display: inline-block;
}

.just_pass_time {
    border-right: 1px solid #D9534F !important;
}
.time_block_info {
    padding: 1px;
    width: 18px;
    margin-left: -4px;
    height: 18px;
    display: inline-block;
    overflow: visible;
    vertical-align:top;
}

.not_work {
    background-color: #eee;
}

.has_order {
    background-color: #D9534F;
}

.thumb img {
    height: 90px;
}