
.book-status span {
    color: white;
    float: left;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    font-size: 15px;
    height: 21px;
}

.bookst-0 { background-color: #426ab3; }
.bookst-1 { background-color: #f47920; }
.bookst-2 { background-color: #047920; }
.bookst-3 { background-color: #ff0000; }
.bookst-4 { background-color: #0000ff; }
.bookst-5 { background-color: #ff00ff; }


