input {
    height: 34px !important;
    border-radius: 4px;
    border: 1px solid #adadad;
    padding-left: 5px;
}

.new_it {
    margin-top: 10px;
}

.vacation_elf, .overtime_elf {
    margin-top: 3px;
}

#calendar {
    text-align: center;
    width: 300px;
}

#calendar .weektr {
    background-color: #eee;
}

.calendar_day  div {
    line-height: 22px;
}
.calendar_panel {
    
}
.day_unchoose {
    background: #ffffff;
    color: #666666;
}

.calendar_day, #next_month, #last_month {
    cursor: pointer;
}

.day_choose {
    background-color: #337ab7;
    color: #cccccc;
}

.event_div, .calendar_div {
    display: inline-block;
}

.event_div {
    margin-left: 30px;
    vertical-align:top;
}
