input {
    height: 34px !important;
    border-radius: 4px;
    border: 1px solid #adadad;
    padding-left: 5px;
}

.new_it {
    margin-top: 10px;
}

.vacation_elf, .overtime_elf {
    margin-top: 3px;
}